body {
  margin: 0;
  height: 100%;
}

.RefreshButton {
  background-color: #8020e1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.randomButton {
  background-color: #8020e1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.positionbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
}

.logohomes {
  width: 10%;
  height: 10%;
}

.logobuttons {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
}
.notVisible{
  display: none;
}
.webCamPage{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

